it-network.kr, www.it-network.kr {
  encode gzip
  
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    X-XSS-Protection "0"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "geolocation=(), microphone=(), camera=()"
  }


  @www host www.it-network.kr
  redir @www https://it-network.kr{uri} permanent	

  handle /api {
    reverse_proxy backend:9999
  }

  # /api, /api/, /api/xxx 전부 백엔드로
  handle /api/* {
    reverse_proxy backend:9999
  }

  handle {
    reverse_proxy frontend:80
  }
}
