@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap');

#home {
  color: white;
}

/* Hero */
.hero {
  height: 100vh;
  background: #131516;
  background-size: cover;             /* 화면 가득 채우기 */
  background-position: center;        /* 중앙 정렬 */
  background-repeat: no-repeat;       /* 반복 방지 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.hero .title {
  font-size: 3rem;
  font-family: "Lexend Mega", sans-serif;
  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -7px;
  opacity: 0.5;
  cursor: default;
}

.hero .title span {
  transition: all 0.2s ease;
}


.hero .title span:nth-child(1):hover {
  color: rgb(255, 101, 74);
}

.hero .title span:nth-child(2):hover {
  color: rgb(255, 255, 103);
}

.hero .title span:nth-child(3):hover {
  color: rgb(106, 255, 121);
}



/* Section basic */
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  line-height: 3rem;
}

/* About */
.about .title{
  margin-bottom: 20px;
}

.about p {
  line-height: 2;
}

.project-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #222;
  flex: 1;
  padding: 30px;
  border-radius: 10px;
}


/* Team Section - Profile Grid */
.member .profile-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);             /* 최대 3개 */
  width: 100%;
  max-width: calc(3 * 360px + 2 * 24px);             /* 카드 최대폭(360px) 기준으로 3열 캡 */
  margin: 0 auto;                                    /* 가운데 정렬 */
}

/* 2열 */
@media (max-width: 1024px) {
  .member .profile-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(2 * 360px + 1 * 24px);
  }
}

/* 1열 */
@media (max-width: 640px) {
  .member .profile-grid {
    grid-template-columns: 1fr;
    max-width: 360px;
  }
}
